body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 0;
}

.calendar {
  margin: 0 auto;
  width: 714px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.calendar div {
  text-align: center;
  background-color: #eee;
  border: 1px solid #000;
  box-sizing: border-box;
  margin: 1px;
  transition-duration: 0.5s;
  line-height: 100px;
}

@for $i from 1 through 31 {
  .calendar div:nth-child(#{$i}) {
    width: 100px;
    height: 100px;
  }

  .calendar div:nth-child(#{$i}):before {
    content: "#{$i}";
  }
}

@for $i from 28 through 31 {
  .calendar-#{$i} div:nth-last-child(-n+#{31-$i}) {
    display: none;
  }
}

.calendar div:hover {
  cursor: pointer;
  background-color: pink;
  transform: translateY(-20px);
}

@each $day, $left in ("mon": 0, "tue": 102px, "wed": 204px,
"thu": 306px, "fri": 408px, "sat": 510px, "sun": 612px) {
  .calendar-#{$day} div:first-child {
    margin-left: #{$left};
  }
}
