body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 0; }

.calendar {
  margin: 0 auto;
  width: 714px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.calendar-28 div:nth-child(1) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(1):before {
  content: "1"; }

.calendar-28 div:nth-child(2) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(2):before {
  content: "2"; }

.calendar-28 div:nth-child(3) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(3):before {
  content: "3"; }

.calendar-28 div:nth-child(4) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(4):before {
  content: "4"; }

.calendar-28 div:nth-child(5) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(5):before {
  content: "5"; }

.calendar-28 div:nth-child(6) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(6):before {
  content: "6"; }

.calendar-28 div:nth-child(7) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(7):before {
  content: "7"; }

.calendar-28 div:nth-child(8) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(8):before {
  content: "8"; }

.calendar-28 div:nth-child(9) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(9):before {
  content: "9"; }

.calendar-28 div:nth-child(10) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(10):before {
  content: "10"; }

.calendar-28 div:nth-child(11) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(11):before {
  content: "11"; }

.calendar-28 div:nth-child(12) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(12):before {
  content: "12"; }

.calendar-28 div:nth-child(13) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(13):before {
  content: "13"; }

.calendar-28 div:nth-child(14) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(14):before {
  content: "14"; }

.calendar-28 div:nth-child(15) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(15):before {
  content: "15"; }

.calendar-28 div:nth-child(16) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(16):before {
  content: "16"; }

.calendar-28 div:nth-child(17) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(17):before {
  content: "17"; }

.calendar-28 div:nth-child(18) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(18):before {
  content: "18"; }

.calendar-28 div:nth-child(19) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(19):before {
  content: "19"; }

.calendar-28 div:nth-child(20) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(20):before {
  content: "20"; }

.calendar-28 div:nth-child(21) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(21):before {
  content: "21"; }

.calendar-28 div:nth-child(22) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(22):before {
  content: "22"; }

.calendar-28 div:nth-child(23) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(23):before {
  content: "23"; }

.calendar-28 div:nth-child(24) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(24):before {
  content: "24"; }

.calendar-28 div:nth-child(25) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(25):before {
  content: "25"; }

.calendar-28 div:nth-child(26) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(26):before {
  content: "26"; }

.calendar-28 div:nth-child(27) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(27):before {
  content: "27"; }

.calendar-28 div:nth-child(28) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-28 div:nth-child(28):before {
  content: "28"; }

.calendar-29 div:nth-child(1) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(1):before {
  content: "1"; }

.calendar-29 div:nth-child(2) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(2):before {
  content: "2"; }

.calendar-29 div:nth-child(3) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(3):before {
  content: "3"; }

.calendar-29 div:nth-child(4) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(4):before {
  content: "4"; }

.calendar-29 div:nth-child(5) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(5):before {
  content: "5"; }

.calendar-29 div:nth-child(6) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(6):before {
  content: "6"; }

.calendar-29 div:nth-child(7) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(7):before {
  content: "7"; }

.calendar-29 div:nth-child(8) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(8):before {
  content: "8"; }

.calendar-29 div:nth-child(9) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(9):before {
  content: "9"; }

.calendar-29 div:nth-child(10) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(10):before {
  content: "10"; }

.calendar-29 div:nth-child(11) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(11):before {
  content: "11"; }

.calendar-29 div:nth-child(12) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(12):before {
  content: "12"; }

.calendar-29 div:nth-child(13) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(13):before {
  content: "13"; }

.calendar-29 div:nth-child(14) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(14):before {
  content: "14"; }

.calendar-29 div:nth-child(15) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(15):before {
  content: "15"; }

.calendar-29 div:nth-child(16) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(16):before {
  content: "16"; }

.calendar-29 div:nth-child(17) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(17):before {
  content: "17"; }

.calendar-29 div:nth-child(18) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(18):before {
  content: "18"; }

.calendar-29 div:nth-child(19) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(19):before {
  content: "19"; }

.calendar-29 div:nth-child(20) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(20):before {
  content: "20"; }

.calendar-29 div:nth-child(21) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(21):before {
  content: "21"; }

.calendar-29 div:nth-child(22) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(22):before {
  content: "22"; }

.calendar-29 div:nth-child(23) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(23):before {
  content: "23"; }

.calendar-29 div:nth-child(24) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(24):before {
  content: "24"; }

.calendar-29 div:nth-child(25) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(25):before {
  content: "25"; }

.calendar-29 div:nth-child(26) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(26):before {
  content: "26"; }

.calendar-29 div:nth-child(27) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(27):before {
  content: "27"; }

.calendar-29 div:nth-child(28) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(28):before {
  content: "28"; }

.calendar-29 div:nth-child(29) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-29 div:nth-child(29):before {
  content: "29"; }

.calendar-30 div:nth-child(1) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(1):before {
  content: "1"; }

.calendar-30 div:nth-child(2) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(2):before {
  content: "2"; }

.calendar-30 div:nth-child(3) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(3):before {
  content: "3"; }

.calendar-30 div:nth-child(4) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(4):before {
  content: "4"; }

.calendar-30 div:nth-child(5) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(5):before {
  content: "5"; }

.calendar-30 div:nth-child(6) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(6):before {
  content: "6"; }

.calendar-30 div:nth-child(7) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(7):before {
  content: "7"; }

.calendar-30 div:nth-child(8) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(8):before {
  content: "8"; }

.calendar-30 div:nth-child(9) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(9):before {
  content: "9"; }

.calendar-30 div:nth-child(10) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(10):before {
  content: "10"; }

.calendar-30 div:nth-child(11) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(11):before {
  content: "11"; }

.calendar-30 div:nth-child(12) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(12):before {
  content: "12"; }

.calendar-30 div:nth-child(13) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(13):before {
  content: "13"; }

.calendar-30 div:nth-child(14) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(14):before {
  content: "14"; }

.calendar-30 div:nth-child(15) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(15):before {
  content: "15"; }

.calendar-30 div:nth-child(16) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(16):before {
  content: "16"; }

.calendar-30 div:nth-child(17) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(17):before {
  content: "17"; }

.calendar-30 div:nth-child(18) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(18):before {
  content: "18"; }

.calendar-30 div:nth-child(19) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(19):before {
  content: "19"; }

.calendar-30 div:nth-child(20) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(20):before {
  content: "20"; }

.calendar-30 div:nth-child(21) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(21):before {
  content: "21"; }

.calendar-30 div:nth-child(22) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(22):before {
  content: "22"; }

.calendar-30 div:nth-child(23) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(23):before {
  content: "23"; }

.calendar-30 div:nth-child(24) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(24):before {
  content: "24"; }

.calendar-30 div:nth-child(25) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(25):before {
  content: "25"; }

.calendar-30 div:nth-child(26) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(26):before {
  content: "26"; }

.calendar-30 div:nth-child(27) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(27):before {
  content: "27"; }

.calendar-30 div:nth-child(28) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(28):before {
  content: "28"; }

.calendar-30 div:nth-child(29) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(29):before {
  content: "29"; }

.calendar-30 div:nth-child(30) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-30 div:nth-child(30):before {
  content: "30"; }

.calendar-31 div:nth-child(1) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(1):before {
  content: "1"; }

.calendar-31 div:nth-child(2) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(2):before {
  content: "2"; }

.calendar-31 div:nth-child(3) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(3):before {
  content: "3"; }

.calendar-31 div:nth-child(4) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(4):before {
  content: "4"; }

.calendar-31 div:nth-child(5) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(5):before {
  content: "5"; }

.calendar-31 div:nth-child(6) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(6):before {
  content: "6"; }

.calendar-31 div:nth-child(7) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(7):before {
  content: "7"; }

.calendar-31 div:nth-child(8) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(8):before {
  content: "8"; }

.calendar-31 div:nth-child(9) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(9):before {
  content: "9"; }

.calendar-31 div:nth-child(10) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(10):before {
  content: "10"; }

.calendar-31 div:nth-child(11) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(11):before {
  content: "11"; }

.calendar-31 div:nth-child(12) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(12):before {
  content: "12"; }

.calendar-31 div:nth-child(13) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(13):before {
  content: "13"; }

.calendar-31 div:nth-child(14) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(14):before {
  content: "14"; }

.calendar-31 div:nth-child(15) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(15):before {
  content: "15"; }

.calendar-31 div:nth-child(16) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(16):before {
  content: "16"; }

.calendar-31 div:nth-child(17) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(17):before {
  content: "17"; }

.calendar-31 div:nth-child(18) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(18):before {
  content: "18"; }

.calendar-31 div:nth-child(19) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(19):before {
  content: "19"; }

.calendar-31 div:nth-child(20) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(20):before {
  content: "20"; }

.calendar-31 div:nth-child(21) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(21):before {
  content: "21"; }

.calendar-31 div:nth-child(22) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(22):before {
  content: "22"; }

.calendar-31 div:nth-child(23) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(23):before {
  content: "23"; }

.calendar-31 div:nth-child(24) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(24):before {
  content: "24"; }

.calendar-31 div:nth-child(25) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(25):before {
  content: "25"; }

.calendar-31 div:nth-child(26) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(26):before {
  content: "26"; }

.calendar-31 div:nth-child(27) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(27):before {
  content: "27"; }

.calendar-31 div:nth-child(28) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(28):before {
  content: "28"; }

.calendar-31 div:nth-child(29) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(29):before {
  content: "29"; }

.calendar-31 div:nth-child(30) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(30):before {
  content: "30"; }

.calendar-31 div:nth-child(31) {
  background-color: #eee;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 1px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  line-height: 100px;
  text-align: center; }

.calendar-31 div:nth-child(31):before {
  content: "31"; }

.calendar div:hover {
  cursor: pointer;
  background-color: pink;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px); }

.calendar-mon div:first-child {
  margin-left: 0; }

.calendar-tue div:first-child {
  margin-left: 102px; }

.calendar-wed div:first-child {
  margin-left: 204px; }

.calendar-thu div:first-child {
  margin-left: 306px; }

.calendar-fri div:first-child {
  margin-left: 408px; }

.calendar-sat div:first-child {
  margin-left: 510px; }

.calendar-sun div:first-child {
  margin-left: 612px; }

/*# sourceMappingURL=main.css.map */
